@import '../../styles/variables.scss';

.login {
  &-page {
    margin: 50px auto auto;
    max-width: 1050px;
  }

  &-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  &-form {
    margin: 30px auto auto;
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    letter-spacing: -0.6px;
  }

  &-input {
    font-size: 14px;
  }

  &-btn {
    @include primary-btn;
    height: 54px;

    &-kakao {
      @include primary-btn;
      height: 54px;
      background-color: #f7e600;
      color: rgb(0, 0, 0);
    }
  }
}
