@import '../../styles/variables.scss';

.main-content {
  padding: 40px 0;
  margin: 0 auto;
  width: 1050px;

  .list-title {
    margin-bottom: 27px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
  }

  .products-carousel {
    position: relative;

    .carousel {
      &-content {
        overflow: hidden;
      }

      &-list {
        display: flex;
        flex-wrap: nowrap;

        &-item {
          flex: 0 0 auto;
          width: 262.5px;
          font-size: 18px;

          img {
            height: 320px;
          }
        }
      }

      &-btn {
        position: absolute;
        z-index: 2;
        width: 50px;
        height: 50px;
        top: calc(50% - 50px);
        border-radius: 50%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        transition: box-shadow 0.5s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.07) 0 0 3px 1px;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.07) 0 0 3px 4px;
        }

        &-left {
          left: 0;
          transform: translate(-50%, -50%);
          span {
            margin-left: 10px;
          }
        }
        &-right {
          right: 0;
          transform: translate(50%, -50%);
          span {
            margin-left: 2px;
          }
        }
      }
    }
  }
}
