$default-color: rgb(255, 255, 255);
$primary-color: rgb(95, 0, 128);
$discount-color: rgb(250, 98, 47);

@mixin shortened-text {
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow-x: hidden;
  overflow-y: hidden;
  word-break: break-all;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
  font-size: inherit;

  &:disabled {
    border: none;
    border-radius: 3px;
    background-color: rgb(221, 221, 221);
    cursor: default;
  }
}

@mixin primary-btn {
  @include btn;
  border: none;
  background: $primary-color;
  color: $default-color;
}

@mixin secondary-btn {
  @include btn;
  border: 1px solid $primary-color;
  border-radius: 4px;
  background: $default-color;
  color: $primary-color;
}
