$default-color: rgb(255, 255, 255);
$primary-color: rgb(95, 0, 128);
$discount-color: rgb(250, 98, 47);

@mixin shortened-text {
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow-x: hidden;
  overflow-y: hidden;
  word-break: break-all;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
