@import '../../styles/variables.scss';

.header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 1050px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__main {
    position: relative;
    padding-top: 35px;
    width: 1050px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__user-info {
      position: absolute;
      top: 0;
      right: 0;
      height: 35px;
      display: flex;
      align-items: center;
      font-size: 12px;

      &__separator {
        width: 1px;
        height: 13px;
        margin: 0 12px;
        background-color: rgb(217, 217, 217);
      }

      &__signup {
        color: $primary-color;
      }

      &__dropdown {
        height: 35px;
        display: flex;
        align-items: center;
        &__content {
          display: none;
          position: absolute;
          right: 0;
          top: 35px;
          width: 102px;
          padding: 3px 9px;
          z-index: 1;
          background-color: white;
          border: 1px solid rgb(221, 221, 221);

          a {
            display: flex;
            align-items: center;
            height: 24px;
            color: rgb(64, 64, 64);
          }
        }

        &:hover & {
          &__content {
            display: block;
          }
        }
      }
    }

    &__left {
      display: flex;
      align-items: center;

      &__logo {
        width: 82px;
        height: 42px;
        margin-right: 20px;
      }

      &__link {
        border: none;
        background: none;
        font-weight: 500;
        color: $primary-color;
      }
    }
  }

  &__bottom {
    position: relative;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.07) 0 3px 4px 0;
    display: flex;
    justify-content: center;

    &__nav {
      width: 1050px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      font-weight: 500;


      ul {
        margin-left: 30px;
        display: flex;
        li {
          width: 150px;
          text-align: center;
          cursor: pointer;

          &:hover {
            color: $primary-color;
            text-decoration: underline;
            text-underline: $primary-color;
            text-underline-offset: 4px;
          }
        }
      }

      &__notice {
        padding: 6px 16px;
        border: solid 1px #eee;
        border-radius: 18px;
        color: #666;
        font-size: 13px;
        letter-spacing: -0.32px;

        span {
          color: $primary-color;
        }
      }
    }

    &--sticky {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      box-shadow: rgba(0, 0, 0, 0.07) 0 3px 4px 0;
      display: flex;
      justify-content: center;

      .header__bottom__nav {
        justify-content: flex-start;

        ul {
          li {
            width: 120px;
          }
        }
      }
    }
  }
}
