@import '../../styles/variables.scss';

.search-bar {
  position: absolute;
  left: 325px;
  width: 400px;
  height: 48px;
  padding-left: 14px;
  display: flex;
  justify-content: space-between;
  border: 1px solid $primary-color;
  border-radius: 6px;

  &__input {
    border: none;
    font-size: 16px;
    letter-spacing: -0.33px;
    outline: none;
    background-color: transparent;
  }

  button {
    margin: 10px;
    border: none;
    background: transparent;
    color: $primary-color;
  }

  &--sticky {
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: 120px;
    padding-left: 14px;
    width: 242px;
    height: 36px;
    display: flex;
    border: none;
    background-color: rgb(247, 247, 247);
    z-index: 1;
    &:focus-within {
      background: transparent;
    }

    .search-bar__input {
      font-size: 12px;
    }

    button {
      margin-top: 3px;
      margin-right: 10px;
      width: 24px;
      height: 24px;
      border: none;
      background: transparent;
      span {
        font-size: 24px;
        color: black;
      }
    }
  }
}
