.user-buttons {
  position: absolute;
  right: -6px;

  &__button {
    margin-left: 20px;
    width: 36px;
    height: 36px;
    border: none;
    background: transparent;

    &__icon {
      font-size: 32px;
      font-variation-settings: 'wght' 300;
    }
  }

  &--sticky {
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: 355px;
    z-index: 1;
  }
}
