@import '../../styles/variables.scss';

.products {
  margin: 30px auto auto;
  width: 1050px;

  .category-name {
    margin: 25px 0;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
  }

  &-header {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;

    .order-types {
      display: flex;
      color: rgb(153, 153, 153);

      .order-type {
        cursor: pointer;

        &.active {
          color: black;
        }
      }

      .separator {
        width: 1px;
        height: 13px;
        margin: 0 12px;
        background-color: rgb(217, 217, 217);
      }
    }
  }

  .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &-item-wrapper {
      height: 650px;
      font-size: 20px;

      img {
        height: 435px;
      }
    }
  }
}
