@import '../../../styles/variables.scss';

.banner {
  position: relative;
  max-width: 1900px;
  height: 410px;
  margin-bottom: 40px;
  overflow: hidden;

  .image-container {
    position: absolute;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;

    .img-wrapper {
      flex: 0 0 auto;
      width: 100%;
      height: 100%;

      .img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .btn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.15);
    color: white;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &-left {
      right: 50%;
      margin-right: 590px;
    }
    &-right {
      left: 50%;
      margin-left: 590px;
    }
  }

  &:hover .btn {
    opacity: 1;
  }

  .counter {
    position: absolute;
    bottom: 24px;
    right: 21%;
    width: 55px;
    height: 23px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.15);
    color: white;
    font-size: 14px;
    font-weight: 400;
  }
}
